.spinner {
    border: 16px solid whitesmoke;
    border-top: 16px solid #909399;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    margin: 5%;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #909399;
}

.border-grid {
    display: grid; 
    border: 3px solid black;
    padding: 10px;
    background-color: #909399;
    text-align: center;
}

.error {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}